{% extends 'base.html' %}
<style>

</style>

{% block body %}
<div class="container">
  
    <div class="alert alert-success" role="alert" style="margin-top: 20px;">
        <a href="/" style="margin-right: 10px;"><i class="bi bi-house-door-fill fa-9x" style="color: black;"></i></a>
        Your File is Ready to <a href="static/sound_file/{{loc}}"> Download</a>
    </div>
    <div style="margin-top: 30px; margin-bottom: 50px;" class="center">
        <audio controls style="width: 60%;">
            <source src="static/sound_file/{{loc}}" type="audio/ogg">
            Your browser does not support the audio element.
        </audio>
    </div>
  
</div>
{% endblock body %}