{% extends 'base.html' %}

        {% block body %}
        <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <label for="exampleFormControlInput1" class="form-label">Language</label>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="lang">
                <option value="en">English</option>
                <option value="hi">Hindi</option>
                <option value="fr">French</option>
                <option value="zh-TW">Mandarin (Taiwan)</option>
                <option value="zh-CN">Mandarin (China Mainland)</option>
                <option value="pt">Portuguese</option>
                <option value="es">Spanish</option>
            </select>

            <label for="exampleFormControlInput1" class="form-label">Country</label>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name='tdl'>
                <option value="com.au">Australia</option>
                <option value="co.uk">United Kingdom</option>
                <option value="com">United States</option>
                <option value="ca">Canada</option>
                <option value="co.in">India</option>
                <option value="ie">Ireland</option>
                <option value="co.za">South Africa</option>
                <option value="ca">Canada</option>
                <option value="fr">France</option>
                <option value="com.br">Brazil</option>
                <option value="pt">Portugal</option>
                <option value="com.mx">Mexico</option>
                <option value="com.mx">Spain</option>
                <option value="com">United States</option>
            </select>

            <div class="mb-3">
                <textarea class="form-control" id="text_area" rows="12" name="text" required  placeholder="Write Something here..."></textarea>
            </div>

            <div class="col-auto">
               <input type="submit" class="btn btn-success" value="Generate">
            </div>
        </form>
    </div>
{% endblock body %}